/***tags selector***/

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: blue;
    font-size: 14;
    font-weight: normal;
}

span{
    color: #b45423;
}

h1{
    color: #b45423;
    font-size: 50px;
}

nav{
    background-color:#b4589780 ;
    height: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}

/***classes selector***/
.placesSection{
    color: #b4589780;
}

.foodSection{
    color: #35042580;
}

.subtitle{
    font-size: 20px;
}

.mainContainer{
    background-color: antiquewhite; 
    height: 270px; 
    padding: 50px 30px 30px; 
    display: flex;
    flex-direction: row;
}

.container{
    width: fit-content; 
    height: fit-content;
}

.imgContainer{
    margin: 20px;
}

.formLink:hover{
    background-color: red;
}

.textContainer{
    
}

.bold{
    font-weight:bold;
}

.table{
    width:100%;
}


/***ID selector***/

#title{
   color: #c5183e80;
   font-size: 65px;
}

#myFooter{
    background-color: black; 
    height: 40px; 
    padding-top: 15px; 
    flex-direction: row; 
    text-align: center;
    width:100%;
}

/***multiple selector***/

footer, a.formLink{
    font-size: 15px;
    color:antiquewhite; 
    padding: 5px;
    margin-top: 15px;
    text-decoration: none;
    padding-bottom: 0;

}

ul li {


}


/***related selector***/


nav a {

    margin-right: 20px; 
    margin-top: 15px;
    text-decoration: none; 

}


nav a:hover {

    background-color:aquamarine; 
    text-decoration: none; 

}


/***media queries***/

/*
    @media screen and (min-width: 480px) {
        /* CSS code that only applies to screens with width > 480 */

        /*
        .mainContainer{
            width:100%; 
        }

        .footer{
            width:100%; 
        }
     }


        @media all and (min-width: 800px) and (max-width: 1024px) {
            .column {
                width: 33%;
            }
            .mainContainer{
                width:100%; 
             }

            .footer{
                width:100%; 
        }
        }

        /* Remaining rules in increasing order */
        
        /*
    @media (min-width: 576px) {
        .mainContainer{
            width:100%; 
        }

        .footer{
            width:100%; 
        }

    }
    @media (min-width: 768px) {
        .mainContainer{
            width:100%; 
        }

         .footer{
         width:100%; 
        }
    }

    @media (min-width: 992px) {
        .mainContainer{
            width:100%; 
        }

         .footer{
        width:100%; 
        }
    }

    @media (min-width: 1200px) {
        .mainContainer{
            width:100%; 
         }

        .footer{
        width:100%; 
        }
        
    }

*/
    {
        box-sizing: border-box;
      }
      
      .menu {
        float: left;
        width: 20%;
        text-align: center;
      }
      
      .menu a {
        background-color: #e5e5e5;
        padding: 8px;
        margin-top: 7px;
        display: block;
        width: 100%;
        color: black;
      }
      
      .main {
        float: left;
        width: 60%;
        padding: 0 20px;
      }
      
      .right {
        background-color: #e5e5e5;
        float: left;
        width: 20%;
        padding: 15px;
        margin-top: 7px;
        text-align: center;
      }

      @media only screen and (max-width: 620px) {
        /* For mobile phones: */
        .menu, .main, .right {
          width: 100%;
        }
      }


 /* For mobile phones: */

 /*
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */

    /*
    .col-s-1 {width: 8.100%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */

    /*
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }