/***tags selector***/

* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span {
  color: #b45423;
}

h1 {
  color: #b45423;
  font-size: 50px;
}

nav {
  background-color: #b4589780;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/***classes selector***/
.placesSection {
  color: #b4589780;
}

.foodSection {
  color: #35042580;
}

.subtitle {
  font-size: 20px;
}

.mainContainer {
  background-color: antiquewhite;
  height: 500px;
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: row;
}

.container {
  width: fit-content;
  height: fit-content;
}

.imgContainer {
  margin: 20px;
}

.formLink:hover {
  background-color: red;
}

.textContainer {
}

.bold {
  font-weight: bold;
}

.table {
  width: 100%;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.main2 {
  float: left;
  width: 100%;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

/***ID selector***/

#title {
  color: #c5183e80;
  font-size: 65px;
}

#myFooter {
  background-color: black;
  height: 40px;
  padding-top: 15px;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

/***multiple selector***/

footer,
a.formLink {
  font-size: 15px;
  color: antiquewhite;
  padding: 5px;
  margin-top: 15px;
  text-decoration: none;
  padding-bottom: 0;
}

nav a {
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: aquamarine;
  text-decoration: none;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-gitlab {
  background: orange;
  color: white;
}

.fa-linkedin {
  background: blue;
  color: white;
}

.fa-behance {
  background: black;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
/***media queries***/

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
