.section2{
    @include containerSize();
    @include flexCenter(column, $secondaryColor);
    background-color: $secondaryColor;
    height:500px;
    width: 100px;
    button {
        border: solid 10px $primaryColor; 
        margin: 100px - 20px; 
        &:hover{
            background-color: red; 
        }
    }
    
}

h1{
    margin: 


}