@import "./variables"; 
@import "./mixins"
@import "./section1"
@import "./section2"

@mixin containerSize(){
    height:500px;
    width: 100px;   

}

@mixin flexCenter($direction){
    display: flex; 
    flex-direction: $direction; 
    justify-content: center; 
    align-items: center; 
}

body{
    background-color: $primaryColor;
    margin: 0; 
}


.section1{
    @include containerSize();
    @include flexCenter(row, $secondaryColor);

    background-color: $primaryColor;

}

.section2{
    @include containerSize();
    @include flexCenter(column, $secondaryColor);
    background-color: $secondaryColor;
    height:500px;
    width: 100px;
    button {
        border: solid 10px $primaryColor; 
        &:hover{
            background-color: red; 
        }
    }
    
}
